<settings>

<category label="Display">
<setting id="channel_name" label="Show Channel Names" type="bool" default="true" />
<setting id="show_plot" label="Show Plot" type="bool" default="true" />
</category>
<category label="Data">
<setting id="ini_file1" label="1st stream .ini file" type="file" mask="*.ini" default="special://home/addons/plugin.video.tvlistings/resources/addons.ini" />
<setting id="ini_file2" label="2nd stream .ini file" type="file" mask="*.ini" default="special://userdata/addon_data/plugin.video.tvlistings/myaddons.ini" />
<setting id="ini_reload" label="(Re)load .ini files" type="bool" default="true" />
<setting type="sep"/>
<setting id="channels_reload" label="(Re)load channel list" type="bool" default="true" />
</category>
</settings>